{:paths ["src/clojure"
         "target/classes"]

 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/tools.logging {:mvn/version "0.6.0"}}

 :aliases {:cursive {:extra-paths ["src/java"]}
           :dev {:extra-paths ["dev" "dev-resources"]
                 :extra-deps {nrepl/nrepl {:mvn/version "0.6.0"}
                              com.clojure-goes-fast/clj-memory-meter {:mvn/version "0.1.2"}
                              org.clojure/test.check {:mvn/version "1.0.0"}

                              ;; Java's crazy logging
                              org.slf4j/slf4j-api {:mvn/version "1.7.30"}
                              org.slf4j/log4j-over-slf4j {:mvn/version "1.7.30"}
                              ch.qos.logback/logback-classic {:mvn/version "1.2.3"}}}}

 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://clojars.org/repo"}}}
